   <!--File Name: Partial Footer page of Assignment01
Name: Syed Nasir Gohary
StudentID: 300937424
Date: 2019-02-16--->
    </div>
      </div>
       <!--Java Scrips Section-->
        <script src="jquery/dist/jquery.min.js"></script>
        <script src="bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="Scripts/app.js"></script>

        </div>
 <!--Footer for all pagesb-->
       <div class="footer">
         <p>&copy; COMP308-ASSIGN01</p>
      </div>
      </div>
    
</body>
</html>