
<% include ./partials/header.ejs %>

    <h1 class="display-4">Welcome to <%= title %></h1>
    <!--Checking if it is homepage-->
    <% if(title=="Home"){%>
        <h2>Your idea Our slotion will goes along the way</h2>
        <a class="btn btn-primary" href="/contactme" role="button">Contact Me</a>
        <a class="btn btn-primary" href="/aboutme" role="button">About Me</a>
    <%} %>

<% include ./partials/footer.ejs %>
