
<% include ./partials/header.ejs %>
<!--File Name: Index (home) page of Assignment01
Name: Syed Nasir Gohary
StudentID: 300937424
Date: 2019-02-16--->
    <h1 class="display-4">Welcome to <%= title %></h1>
    <!--Checking if it is homepage-->
    <% if(title=="Home"){%>
        <h2>Your idea Our slotion will goes along the way</h2>
        <a class="btn btn-primary" href="/contactme" role="button"><i class="fa fa-lg fa-phone-square"></i> Contact Me</a>
        <a class="btn btn-primary" href="/aboutme" role="button"><i class="fa fa-lg fa-info"></i> About Me</a>
    <%} %>

<% include ./partials/footer.ejs %>
