<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>COMP308-Assignment01</title>
  <!--CSS section-->
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="Content/app.css">
  <link rel="stylesheet" href="Content/styleProject.css">

</head>
<body background="images/project.jpg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="images/logo.png" height="35px"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <% if(title == "Home") { %>
            <li class="nav-item active"><% } else { %></li>
  
            <li class="nav-item">
              <% } %>
  
              <a class="nav-link" href="/"
                ><i class="fa fa-lg fa-home"></i> Home
                <span class="sr-only">(current)</span></a
              >
            </li>
  
            <% if(title == "About") { %>
            <li class="nav-item active"><% } else { %></li>
  
            <li class="nav-item">
              <% } %>
  
              <a class="nav-link" href="/about"
                ><i class="fa fa-lg fa-info-circle"></i> About</a
              >
            </li>
  
            <% if(title == "Products") { %>
            <li class="nav-item active"><% } else { %></li>
  
            <li class="nav-item">
              <% } %>
  
              <a class="nav-link" href="/project"
                ><i class="fa fa-lg fa-product-hunt"></i> Projects</a
              >
            </li>
  
            <% if(title == "Services") { %>
            <li class="nav-item active"><% } else { %></li>
  
            <li class="nav-item">
              <% } %>
  
              <a class="nav-link" href="/services"
                ><i class="fa fa-lg fa-universal-access"></i> Services</a
              >
            </li>
  
            <% if(title == "Contact") { %>
            <li class="nav-item active"><% } else { %></li>
  
            <li class="nav-item">
              <% } %>
  
              <a class="nav-link" href="/contact"
                ><i class="fa fa-lg fa-phone-square"></i> Contact</a>
            </li>

          </ul>
        </div>
      </nav>
<!--Wehire webpage div-->
<div class="main">
<h1>Following are the Projects I enjoyed!! </h1>
<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column">
    <div class="content">
      <img src="images/weHire.png" alt="project image of we hire" height="40%" style="width:100%">
      <h3>ASP.NET Recruitement Portal</h3>
      <p>Worked on a recruitement portal and website was deployed it into AWS. I was responsible for documentation of this website. I was involved in inital designing too</p>
    </div>
  </div>
<!--Video toturail webpage-->
  <div class="column">
    <div class="content">
    <img src="images/videoToturial.png" alt="Video toturail image" style="width:100%">
      <h3>ASP.NET Video Toturial Portal</h3>
      <p>A fully functional asp.net website for vedio streaming, 
      developed and deployed to ASW service. I did the ERD desing
       and coded search functionalitydfafdafaf afdaf asf af afasfafdfsd a ffdafasdf ass</p>
    </div>
  </div>
  <hr color="red">
<!-- END GRID -->
</div>
<!-- Farmers Andriod app -->
<div class="row">
  <div class="column">
    <div class="content">
      <img src="images/FormeHome.png" alt="project image of we hire" height="10%" style="width:30%"> &nbsp; &nbsp;
      <img src="images/login.png" alt="project image of we hire" height="10%" style="width:30%"> &nbsp; &nbsp;
        <img src="images/homeFormers.png" alt="project image of we hire" height="10%" style="width:30%">
      <h3>Andriod App for Farming</h3>
      <p>An andriod application for farmers. The intentions of this app is to increase the farming productivity </p>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="images/parkingLogin.png" alt="image of login page" height="5%" style="width:30%"> &nbsp;
    <img src="images/registration.png" alt="image of registration page" height="8%" style="width:30%"> &nbsp;
    <img src="images/reservation.png" alt="image of reservation page" height="8%" style="width:30%"> &nbsp;
      <h3>Andriod App for Parking</h3>
      <p>Andriod app for reservation of parking spot in Toronto.</p>
    </div>
  </div>
  <hr color="red">
<!-- END GRID -->
</div>
<div class="content">
<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <img src="images/restaurant.png" alt="restaurant menu image" style="width:50%" height="10%">
  <h3>Retaurant Menu in C#</h3>
  <p>Menu for restaunts where customers have the options of selecting food and beverages.</p>
</div>
<br>
<br>
<!-- END MAIN -->
</div>




<% include ./partials/footer.ejs %>