<% include ../partials/header.ejs %>

  <h5>Hello! Thank you for taking the time to visit my e-portfolio and learn more about me.</h5>
<br>

<div class="row">
    <div class="col-sm">
    <img src="/Assets/images/man-background.png" class="d">
    </div>
    <div class="col-sm">
    <p class="x">I will graduate in the summer of 2019 from Centennial College.
     I am a backend developer and have an excellent understanding of design and documentation of software life cycle.
      As you will see throughout my e-portfolio, I am very interested in Java programming and Android mobile app development.
       I would like to spend my career as a software developer by contributing to my programming skills
        and knowledge. I’ve decided to be a dedicated software developer for the rest of my career.
     I am sure that I will be able to reach my goals in my career. </p>
    </div>
     <div class="col-sm">
     <img src="/Assets/images/jungal.png" class="d">
    </div>

  </div>


  <div class="row">
    <div class="col-sm">
    <img src="/Assets/images/sepeher.png" class="d">
    </div>
    <div class="col-sm">
    <p class="x">When I'm not at work or school, I enjoy spending time outside hiking and traveling.
     In the fall and winter, you can find me cheering on the Raptors and Toronto Maple Leafs... Let's go Raptors!!!
     <br><br>​ <strong>"Life is either a daring adventure or &nbsp;&nbsp;&nbsp;nothing."</strong>  </p>
    </div>
     <div class="col-sm">
     <img src="/Assets/images/elections.png" class="d">
    </div>

  </div>
<% include ../partials/footer.ejs %>