<% include ../partials/header.ejs %>
<h1> Welcome to <%= title %> Page</h1>
<br>
 <!-- Team Members -->
   
    <div class="row">
      <div class="col-lg-4 mb-2">
        <div class="card h-100 text-center">
          <img class="img-fluid rounded mb-2" src="/Assets/images/nasir.jpeg" alt="image of person">
        </div>
      </div>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-lg-4 mb-2">
       <h2>Personal Information</h2>
        <h5>Name: Syed Nasir Gohary </h5>
        <p>I am studying Software Engineering and Technology in Centennial College. I like coding and I see developers as a problem solvers. I enjoyed working in short term project. It is a different exprience while working in a real time project. It is fun and everyday there are new learning opportunity</p>
        <a href="/Assets/images/ResumeSyedNasirGohary.pdf" class="btn btn-primary">View My Resume</a>
              
      </div>
    
    </div>
    <!-- /.row -->
   <div class="c">
     <h5>My favourite Sports are: </h5>
      <ul>
          <li>Football</li>
          <li>Hockey</li>
          <li>BasketBall</li>
        </ul>
     
     </div>
    <h4>I can be reache in followings</h4>
    <a href="https://twitter.com/GSnacir"><i class="fa fa-5x fa-twitter-square"></i></a> 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/nasir-gohary/"><i class="fa fa-5x fa-linkedin"></i> </a>
  

  
    </div>

    
    <!-- /.row -->
  </div>


<% include ../partials/footer.ejs %>