<% include ../partials/header.ejs %>

  <h5>Hello! Thank you for taking the time to visit my e-portfolio and learn more about me.</h5>
<br>

<div class="row">
    <div class="col-sm">
    <img src="/Assets/images/man-background.jpeg" class="d">
    </div>
    <div class="col-sm">
    <p class="x">I will graduate on summer of 2019 from Centennial College. I am a backend developer and have excellent understanding of design and documentation of software life cycle. As you will see throughout my e-portfolio, I am very interested in Java programming and android mobile app development. I would like to spend my career as a software developer by contributing with my programing skills and knowledge. I’ve decided to be a dedicated software developer for the rest of my career. I am sure that I will be able to reach my goals in my career.  </p>
    </div>
     <div class="col-sm">
     <img src="/Assets/images/jungal.jpg" class="d">
    </div>

  </div>


  <div class="row">
    <div class="col-sm">
    <img src="/Assets/images/sepeher.jpeg" class="d">
    </div>
    <div class="col-sm">
    <p class="x">When I'm not at work or school, I enjoy spending time outside hiking and traveling. In the fall and winter, you can find me cheering on the Raptors and Toronto Maple Leafs... Lets go Raptors!!!  </p>
    </div>
     <div class="col-sm">
     <img src="/Assets/images/elections.jpeg" class="d">
    </div>

  </div>
<% include ../partials/footer.ejs %>