<% include ../partials/header.ejs %>
<h1> Welcome to <%= title %> Page</h1>
<br>
 <!-- Team Members -->
   
    <div class="row">
      <div class="col-lg-4 mb-2">
        <div class="card h-100 text-center">
          <img class="img-fluid rounded mb-2" src="/Assets/images/nasir.jpeg" alt="image of person">
        </div>
      </div>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="col-lg-4 mb-2">
       <h2>Personal Information</h2>
        <h5>Name: Syed Nasir Gohary </h5>
        <p>I am studying Software Engineering and Technology in Centennial College. I like coding and I see developers as a problem solvers. I enjoyed working in short term project. It is a different exprience while working in a real time project. It is fun and everyday there are new learning opportunity</p>
        <a href="/Assets/images/ResumeSyedNasirGohary.pdf" class="btn btn-primary">View My Resume</a>
              
      </div>
    
    </div>
    <!-- /.row -->
<!-- Page Content -->
    <!-- Team Members -->
   
    <h4>I can be reache in followings</h4>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
         <a href="https://www.linkedin.com/in/nasir-gohary/"><img class="card-img-top" src="/Assets/images/linkedin.png" alt="" height="120px"></a>
          <br>
            <h5 class="card-title">Check out my linkedin profile</h5>
           

        </div>
      </div>
    
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
        
           <a href="https://twitter.com/GSnacir"><img class="card-img-top" src="/Assets/images/twitter.jpg" alt="" height="120px"></a>
        <h5 class="card-title">Follow me on Twitter</h5>
        </div>
      </div>
    </div>
    <!-- /.row -->


<% include ../partials/footer.ejs %>