<% include ../partials/header.ejs %>
<body background="/Assets/images/educationpag.jpg">
<div class="container">
<div class="row">

    <div class="col-sm">
    <h3>Centennial College, Toronto</h3>
     <img  class ="divimg"src="/Assets/images/volunteer.png">
    </div>
    <div class="col-sm">
    <h3>Hackaton City Hall, Toronto </h3>
    <img  class ="divimg"src="/Assets/images/hourCode.png">
    </div>

  </div>

  <div class="row">
    <div class="col-sm">
    <br>
    <h3>Human Resource Development, Pakistan</h3>
     <img  class ="divimg"src="/Assets/images/hrdp.png">
    </div>
    <div class="col-sm">
    <br>    
    </div>

     <div class="col-sm">
    <br><br>
    <h3>Visual Study Certficate, Pakistan </h3>
    <img  class ="divimg"src="/Assets/images/sql.png">
    </div>

  </div>

  </div
</body>

<% include ../partials/footer.ejs %>