<% include ../partials/header.ejs %>
<body background="/Assets/images/educationpag.png">
<p class="pp">Following are my certificates and academic achievements.</p>
<div class="container">
<div class="row">

    <div class="col-sm">
    <h5>Volunteering Certificate, Centennial College, <br> Toronto 2019</h5>
     <img  class ="divimg"src="/Assets/images/volunteer.png">
    </div>
    <div class="col-sm">
    <h5>Winner of Hackaton at Centennial College, <br>Toronto 2017</h5>
    <img  class ="divimg"src="/Assets/images/hourCode.png">
    </div>

  </div>

  <div class="row">
    <div class="col-sm">
    <br>
    <h5> Diploma in Human Resource Development,<br> Pakistan 2002</h5>
     <img  class ="divimg"src="/Assets/images/hrdp.png">
    </div>
     <div class="col-sm"><br>
    <h5>Visual Study and SQLServer Certificate,<br> Pakistan 2003</h5>
    <img  class ="divimg"src="/Assets/images/sql.png">
    </div>

  </div>

  </div>
</body>

<% include ../partials/footer.ejs %>