

 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:gray;
    color: white;
    text-align: left;
    padding-left: 20px;
 }



 div.c {
   position: absolute;
   right: 150px;
   width: 300px;
   height: 200px;
   font-size: 18px;
   padding-bottom: 50px;

 }

 ul {
  
   list-style: none;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 fieldset { 
   display: block;
   margin-left: 2px;
   margin-right: 2px;
   padding-top: 0.35em;
   padding-bottom: 0.625em;
   padding-left: 0.75em;
   padding-right: 0.75em;
   border: 2px groove (internal value);
   border-radius: 25px;
   background-color: khaki;
 }

 legend {
   display: block;
   padding-left: 10px;
   padding-right: 2px;
  background-color:khaki;
  border-radius: 5px


 }

 .mainImag{
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
 }

 .img {
  float: right;
  height: 230px;
  width: 200px;
}

.divimg {
 
  height: 400px;
  width: 400px;
}
.d {
 
  height: 250px;
  width: 250px;
  
}
.p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: blueviolet;
 
}

.x{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color:black;
 
}
div.mainContainer {
  display: grid;
  grid-template-columns: 220px 20px auto;
  grid-template-rows: auto;
}

div.left {
  float: left;
  height: 200px;
  width: 600px;
}

div.right {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end; 1;

}

div.below {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end; 2;
}