<% include ../partials/header.ejs %>
<body background="images/canadianflag.jpg">
<h1><%= title %></h1>
<!--Content -->
<div class="container" >

    <div class="row">
        <div class="col-md-offset-3 cold-md-6">
            
            <h1>Your Feedbacks are hieghly valued</h1>
            <form action="" class="form" method="post">
                <div class="form-group">
                    <label for="FirtNameTextField">First Name</label>
                    <input type="text" class="form-control" id="FirstNameTextField" placeholder="Enter First Name"
                    name="firstName" required>
                </div>
                <div class="form-group">
                    <label for="LastNameTextField">Last Name</label>
                    <input type="text" class="form-control" id="LastNameTextField" placeholder="Enter Last Name"
                    name="lastName" required>
                </div>
                <div class="form-group">
                    <label for="EmailTextField">Your Email</label>
                    <input type="text" class="form-control" id="EmailTextField" placeholder="Enter Your Email"
                    name="email" required>
                </div>
                <div class="form-group">
                    <label for="MessageTextField">Message</label>
                    <textarea class="form-control" id="MessageTextField" rows="5" placeholder="Type Your Message "
                    name="message" required></textarea>
                
                </div>
                <button type="submit" class="btn btn-primary"> 
                <i class="fa fa-arrow-alt-right"></i> Send Now</button>
            </form>
            
        </div>
    </div>
</div>
</body>
<% include ../partials/footer.ejs %>




